#container{
    width: 1050px;
    border: 2px solid greenyellow; 
    margin: auto;
}
#header{
    height: 100px;
    padding:10px;
}
h1 a{
    font-size: 50px;
    font-weight:100;
    color: #861bbf;
    text-decoration: none;
}
#searchBox{
    float:right;
    width: 400px;
    height: 50px;
    margin-top: 15px;
    padding: 20px 20px 0 20px;
    background:linear-gradient(#e4f2b9,#b7e953)
}
#brand{
    float: left;
}
#text{
    float: left;
    padding:5px;
    background: white url('/search.gif') right center no-repeat;
    font-size: 15px;
    color: #e36a0c;
}
#submit{
    float:right;
    padding: 5px;
    font-weight: bold;
    color:white;
    background:#a751d6;
    font-size: 15px;
}
.clear{
    clear: both;
}